/*body {
     font-size: 20px; 
}
*/
h1, P {
    /*font-size: 3em; /*  em is related to parent element font size and 
                        if font size is not available for any parent it will follow the 
                        standard value for html element 16px */
    /* font-size: 3rem; rem follows the html reference only which is 16px*/
}

 /*div {
    font-size: 10px; 
}*/

section {
    font-size: 30px;
    background-color: orangered;
    color: white;
    /* width: 70%; */
    height: 100vh;
}

h1 {
    font-size: 200%; /*According to the closest parent.*/
}

section div {
    background-color: green;
    /* width: 50%; */
}