h1::first-letter {
    font-size: 70px;
    font-style: italic;
    color: goldenrod;
}

h1::before {
    content: "This is ";
    color: green;
}

h1::after {
    content:" and its useless.";
    font-size: 30px;
    color: green;
}